header{
	background-image: url("kol4.jpg");
	padding: 50px;
	background-size: 100%;
	background-position: center;
	
} 
#typed{
	font-family: 'Baloo Bhai 2', cursive;
	font-size: 2rem;
	
}

p{
	padding: 0.5%;
	font-weight: bold;
	font-family: 'Bree Serif', serif;
}
div p{
	font-weight: normal;
	padding: 1%;
}
img{
	padding:2%;
	
}
header h1{
	text-align: center;
	color: white;
	font-family: 'Bree Serif', serif;
}
.tele{
	width: 257px;
    height: 196px;
}